@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* 記事ページ用 */

.content {
  h1 {
    @apply text-xl my-4 font-bold;
  }

  h2 {
    @apply text-base my-3 font-bold;
  }
  
  pre {
    overflow-x: scroll;
    @apply my-4 p-4 rounded-xl;
  }

  code {
    @apply text-sm;
  }

  a {
    @apply underline;
  }

  hr {
    @apply my-8;
  }
}
